extends layout

block content
	.title-name
		h2 PL-A
	.logo 
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="794.799 202.13 431.422 581.87"><defs><style>.a,.c,.e{fill:none;}.a{stroke:#fd583f;}.a,.b,.c{stroke-width:10px;}.b{fill:#fefefe;stroke:#000;}.c{stroke:#f2204b;}.d{stroke:none;}</style></defs><g transform="translate(21 32)"><path class="a" d="M450.081,243.317,87.8,474.038V.5Z" transform="translate(691 225)"/><path class="a" d="M450.081,243.317,87.8,474.038V.5Z" transform="translate(710 261)"/><g class="b" transform="translate(888 213)"><rect class="d" width="38" height="539"/><rect class="e" x="5" y="5" width="28" height="529"/></g><g class="b" transform="translate(995 213)"><rect class="d" width="38" height="539"/><rect class="e" x="5" y="5" width="28" height="529"/></g><path class="c" d="M450.081,243.317,87.8,474.038V.5Z" transform="translate(729 179)"/><path class="c" d="M450.081,243.317,87.8,474.038V.5Z" transform="translate(746 212)"/></g></svg>

	.info-main-text 
		h5 PL-A, PlayList Aggregator is a service that allows users to collect videos from Youtube, Dailymotion, Vimeo, Streamable and create a playlist that can be shared. More sites to come, just let us know which ones you would like added!