extends layout

block content
	.inner
		.reddit-container

	script(src="/dist/Reddit.bundle.js")
	script(src='/dist/fontawesome-all.min.js')
	link(rel='stylesheet', href='https://unpkg.com/react-table@latest/react-table.css')
	script(src='/dist/fontawesome-all.min.js')